<span class="u-anchorTarget" id="{$option.option_id}"></span>
<xf:set var="$hintHtml"><xf:trim>
	<xf:if is="$option.canEdit()">
		<xf:macro template="option_macros"
				  name="option_edit_link"
				  arg-group="{$group}"
				  arg-option="{$option}" />
	</xf:if>
	<xf:if is="$includeAddOnHint AND $group AND $option.addon_id AND $option.addon_id != $group.addon_id AND $option.addon_id != 'XF'">
		<span class="formRow-hint-featured">
			<a href="{{ link('add-ons/options', $option.AddOn) }}">
				{$option.AddOn.title}
			</a>
		</span>
	</xf:if>
	</xf:trim>
</xf:set>
<xf:formrow label="{$option.title}"
			explain="{$option.explain}"
			hint="{$hintHtml}">

	<xf:set var="$inputName">
		<xf:macro template="option_macros"
				  name="input_name"
				  arg-id="{$option.option_id}" />
	</xf:set>
	<xf:set var="$listedHtml">
		<xf:macro template="option_macros"
				  name="listed_html"
				  arg-id="{$option.option_id}" />
	</xf:set>
	<input type="hidden" name="{$inputName}" value="{$option.option_value}" class="js-ColorValue" />

	<ul class="inputList split-row">
		<xf:foreach loop="$colors" value="$color">					
			<li>
				<xf:macro name="color_picker"
						  template="public:color_picker_macros"
						  arg-name="color_adder[]"
						  arg-row="{{false}}"
						  arg-rowClass="js-ColorAdder"
						  arg-value="{$color}" />
			</li>
		</xf:foreach>
		<li data-xf-init="field-adder">
				<xf:macro name="color_picker"
						  template="public:color_picker_macros"
						  arg-row="{{false}}"
						  arg-name="color_adder[]"
						  arg-rowClass="js-ColorAdder" />
		</li>
	</ul>
	<xf:css>
		.split-row li {
			display: inline-block;
			width: calc({{100/{$xf.options.klEMColorStep}}}% - 6px);
			transition: width 100ms;
			will-change: width;
		}
		
		.split-row .inputGroup-text {
			border-radius: 4px;
		}
		
		.split-row .input {
			display: none;
		}
		
		.split-row li:last-child .colorPickerBox::before {
			content: "\f067";
			font-family: "FontAwesome";
			color: #777;
			position: absolute;
			left: calc(50% - .5em);
			top: -1px;
		}
	</xf:css>
	<xf:js>
		$('.js-ColorAdder').on('change', function() {
			var values = [];
			$('.js-ColorAdder').each(function() {
				$values.push($(this).val());
			});
			$values.push('REMOVE');
			$('.js-ColorValue').val(values.join())
		});
		
		$('[name="options[klEMColorStep]"]').on('change', function() {
			var cols = $(this).val();
			console.log(cols);
			$('.split-row li').css('width', 'calc('+(100/cols)+'% - 6px)');
		});
	</xf:js>
</xf:formrow>