<xf:macro name="tabs" arg-smilie="!">
	<h2 class="block-tabHeader tabs hScroller" data-xf-init="tabs h-scroller" role="tablist"
		data-panes="< .block-container | .js-klEMSmilieTabPanes"
		>
		<span class="hScroller-scroll">
			<a class="tabs-tab is-active" role="tab" data-controls="reaction-options">
				{{ phrase('kl_em_smilie_options') }}
			</a>
			<xf:macro template="helper_criteria" name="user_tabs" />
		</span>
	</h2>
</xf:macro>

<xf:macro name="tab_panes" arg-smilie="!" arg-userCriteria="!">
	<xf:macro template="helper_criteria" name="user_panes"
			  arg-criteria="{{ $userCriteria.getCriteriaForTemplate() }}"
			  arg-data="{{ $userCriteria.getExtraTemplateData() }}" />
</xf:macro>