<xf:if is="$template.isInsert()">
	<xf:title>{{ phrase('kl_em_add_template') }}</xf:title>
	<xf:else />
	<xf:title>{{ phrase('kl_em_edit_template:') }} {$template.title}</xf:title>
</xf:if>

<xf:pageaction if="$template.isUpdate()">
	<xf:button href="{{ link('em/templates/delete', $template) }}" icon="delete" overlay="true" />
</xf:pageaction>

<xf:form action="{{ link('em/templates/save', $template) }}" ajax="true" class="block">
	<div class="block-container">
		<h2 class="block-tabHeader tabs hScroller" data-xf-init="h-scroller tabs" role="tablist">
			<span class="hScroller-scroll">
				<a class="tabs-tab is-active"
				   role="tab"
				   tabindex="0"
				   aria-controls="options">{{ phrase('options') }}</a>
				<xf:macro template="helper_criteria"
						  name="user_tabs"
						  arg-userTabTitle="{{ phrase('user_criteria')|for_attr }}" />
				<xf:macro template="helper_criteria"
						  name="page_tabs"
						  arg-pageTabTitle="{{ phrase('page_criteria')|for_attr }}" />
			</span>
		</h2>

		<ul class="block-body tabPanes">
			<li class="is-active" role="tabpanel" id="options">
				<xf:textboxrow name="title" required="required" value="{{ $template.exists() ? $template.title : '' }}"
							   label="{{ phrase('title') }}" />

				<xf:macro template="display_order_macros" name="row"
						  arg-name="display_order"
						  arg-value="{$template.display_order}"
						  arg-explain="{{ phrase('kl_em_position_of_this_item') }}" />

				<xf:checkboxrow>
					<xf:option name="active" value="1" selected="{{ $template.template_id ? $template.active : 1 }}">
						{{ phrase('enabled') }}
					</xf:option>
				</xf:checkboxrow>

				<xf:editorrow name="content" value="{$template.content}"
							  rowtype="fullWidth noLabel"
							  data-min-height="100"
							  maxlength="{$xf.options.messageMaxLength}"
							  label="{{ phrase('message') }}" />
			</li>
			<xf:macro template="helper_criteria" name="user_panes"
					  arg-criteria="{{ $userCriteria.getCriteriaForTemplate() }}"
					  arg-data="{{ $userCriteria.getExtraTemplateData() }}" />
			<xf:macro template="helper_criteria" name="page_panes"
					  arg-criteria="{{ $pageCriteria.getCriteriaForTemplate() }}"
					  arg-data="{{ $pageCriteria.getExtraTemplateData() }}" />
		</ul>

		<xf:submitrow sticky="true" icon="save" />
	</div>
	</div>
</xf:form>