<xf:title>{{ phrase('kl_em_bb_codes') }}</xf:title>

<xf:pageaction>
	<div class="buttonGroup">
		<xf:button href="{{ link('bb-codes/add') }}" icon="add">{{ phrase('add_bb_code') }}</xf:button>
	</div>
</xf:pageaction>

<div class="block">
	<div class="block-outer">
		<xf:macro template="filter_macros" name="quick_filter" arg-key="bb-codes" arg-class="block-outer-opposite" />
	</div>
	<div class="block-container">
		<xf:hiddenval name="list" value="stock" />
		<div class="block-body">
			<xf:form action="{{ link('em/bb-codes/toggle')}}" ajax="{{ true }}">
				<xf:datalist>
					<xf:datarow rowtype="subsection">
						<xf:cell colspan="3">{{ phrase('kl_em_stock_bb_codes') }}</xf:cell>
					</xf:datarow>
					<xf:datarow>
						<xf:main href="{{ link('em/bb-codes', {'bb_code_id': 'bold'})}}" id="bold">
							<xf:label>{{ phrase('kl_em_bold') }}</xf:label>
							<xf:hint>[b]<xf:foreach loop="$permissions.bold.aliases" value="$alias">, [{$alias}]</xf:foreach></xf:hint>
						</xf:main>
						<xf:action class="{{ !empty($permissions.bold.user_criteria) ? 'dataList-cell--highlighted' : '' }}"
								   href="{{ link('em/bb-codes', {'bb_code_id': 'bold'}) }}">
							{{ phrase('user_criteria') }}
						</xf:action>
						<xf:toggle name="kl_active[bold]" selected="$xf.options.klEMEnabledBBCodes.bold"
								   class="dataList-cell--separated" submit="true"
								   tooltip="{{ phrase('enable_disable_x', {'title': '[' . phrase('kl_em_bold') . ']'}) }}" />
					</xf:datarow>
					<xf:datarow>
						<xf:main href="{{ link('em/bb-codes', {'bb_code_id': 'italic'})}}" id="italic">
							<xf:label>{{ phrase('italic') }}</xf:label>
							<xf:hint>[i]<xf:foreach loop="$permissions.indent.aliases" value="$alias">, [{$alias}]</xf:foreach></xf:hint>
						</xf:main>
						<xf:action class="{{ !empty($permissions.italic.user_criteria) ? 'dataList-cell--highlighted' : '' }}"
								   href="{{ link('em/bb-codes', {'bb_code_id': 'italic'}) }}">
							{{ phrase('user_criteria') }}
						</xf:action>
						<xf:toggle name="kl_active[italic]" selected="$xf.options.klEMEnabledBBCodes.italic"
								   class="dataList-cell--separated" submit="true"
								   tooltip="{{ phrase('enable_disable_x', {'title': '[' . phrase('italic') . ']'}) }}" />
					</xf:datarow>
					<xf:datarow>
						<xf:main href="{{ link('em/bb-codes', {'bb_code_id': 'underline'})}}" id="underline">
							<xf:label>{{ phrase('underline') }}</xf:label>
							<xf:hint>[u]<xf:foreach loop="$permissions.underline.aliases" value="$alias">, [{$alias}]</xf:foreach></xf:hint>
						</xf:main>
						<xf:action class="{{ !empty($permissions.underline.user_criteria) ? 'dataList-cell--highlighted' : '' }}"
								   href="{{ link('em/bb-codes', {'bb_code_id': 'underline'}) }}">
							{{ phrase('user_criteria') }}
						</xf:action>
						<xf:toggle name="kl_active[underline]" selected="$xf.options.klEMEnabledBBCodes.underline"
								   class="dataList-cell--separated" submit="true"
								   tooltip="{{ phrase('enable_disable_x', {'title': '[' . phrase('underline') . ']'}) }}" />
					</xf:datarow>
					<xf:datarow>
						<xf:main href="{{ link('em/bb-codes', {'bb_code_id': 'strike'})}}" id="strike">
							<xf:label>{{ phrase('kl_em_struck_through') }}</xf:label>
							<xf:hint>[s]<xf:foreach loop="$permissions.strike.aliases" value="$alias">, [{$alias}]</xf:foreach></xf:hint>
						</xf:main>
						<xf:action class="{{ !empty($permissions.strike.user_criteria) ? 'dataList-cell--highlighted' : '' }}"
								   href="{{ link('em/bb-codes', {'bb_code_id': 'strike'}) }}">
							{{ phrase('user_criteria') }}
						</xf:action>
						<xf:toggle name="kl_active[strike]" selected="$xf.options.klEMEnabledBBCodes.strike"
								   class="dataList-cell--separated" submit="true"
								   tooltip="{{ phrase('enable_disable_x', {'title': '[' . phrase('kl_em_struck_through') . ']'}) }}" />
					</xf:datarow>
					<xf:datarow>
						<xf:main href="{{ link('em/bb-codes', {'bb_code_id': 'color'})}}" id="color">
							<xf:label>{{ phrase('color') }}</xf:label>
							<xf:hint>[color]<xf:foreach loop="$permissions.color.aliases" value="$alias">, [{$alias}]</xf:foreach></xf:hint>
						</xf:main>
						<xf:action class="{{ !empty($permissions.color.user_criteria) ? 'dataList-cell--highlighted' : '' }}"
								   href="{{ link('em/bb-codes', {'bb_code_id': 'color'}) }}">
							{{ phrase('user_criteria') }}
						</xf:action>
						<xf:toggle name="kl_active[color]" selected="$xf.options.klEMEnabledBBCodes.color"
								   class="dataList-cell--separated" submit="true"
								   tooltip="{{ phrase('enable_disable_x', {'title': '[' . phrase('color') . ']'}) }}" />
					</xf:datarow>
					<xf:datarow>
						<xf:main href="{{ link('em/bb-codes', {'bb_code_id': 'font'})}}" id="font">
							<xf:label>{{ phrase('font_family') }}</xf:label>
							<xf:hint>[font]<xf:foreach loop="$permissions.font.aliases" value="$alias">, [{$alias}]</xf:foreach></xf:hint>
						</xf:main>
						<xf:action class="{{ !empty($permissions.font.user_criteria) ? 'dataList-cell--highlighted' : '' }}"
								   href="{{ link('em/bb-codes', {'bb_code_id': 'font'}) }}">
							{{ phrase('user_criteria') }}
						</xf:action>
						<xf:toggle name="kl_active[font]" selected="$xf.options.klEMEnabledBBCodes.font"
								   class="dataList-cell--separated" submit="true"
								   tooltip="{{ phrase('enable_disable_x', {'title': '[' . phrase('font_family') . ']'}) }}" />
					</xf:datarow>
					<xf:datarow>
						<xf:main href="{{ link('em/bb-codes', {'bb_code_id': 'size'})}}" id="size">
							<xf:label>{{ phrase('size') }}</xf:label>
							<xf:hint>[size]<xf:foreach loop="$permissions.size.aliases" value="$alias">, [{$alias}]</xf:foreach></xf:hint>
						</xf:main>
						<xf:action class="{{ !empty($permissions.size.user_criteria) ? 'dataList-cell--highlighted' : '' }}"
								   href="{{ link('em/bb-codes', {'bb_code_id': 'size'}) }}">
							{{ phrase('user_criteria') }}
						</xf:action>
						<xf:toggle name="kl_active[size]" selected="$xf.options.klEMEnabledBBCodes.size"
								   class="dataList-cell--separated" submit="true"
								   tooltip="{{ phrase('enable_disable_x', {'title': '[' . phrase('size') . ']'}) }}" />
					</xf:datarow>
					<xf:datarow>
						<xf:main href="{{ link('em/bb-codes', {'bb_code_id': 'url'})}}" id="url">
							<xf:label>{{ phrase('url') }}</xf:label>
							<xf:hint>[url]<xf:foreach loop="$permissions.url.aliases" value="$alias">, [{$alias}]</xf:foreach></xf:hint>
						</xf:main>
						<xf:action class="{{ !empty($permissions.url.user_criteria) ? 'dataList-cell--highlighted' : '' }}"
								   href="{{ link('em/bb-codes', {'bb_code_id': 'url'}) }}">
							{{ phrase('user_criteria') }}
						</xf:action>
						<xf:toggle name="kl_active[url]" selected="$xf.options.klEMEnabledBBCodes.url"
								   class="dataList-cell--separated" submit="true"
								   tooltip="{{ phrase('enable_disable_x', {'title': '[' . phrase('url') . ']'}) }}" />
					</xf:datarow>
					<xf:datarow>
						<xf:main href="{{ link('em/bb-codes', {'bb_code_id': 'image'})}}" id="image">
							<xf:label>{{ phrase('image') }}</xf:label>
							<xf:hint>[img]<xf:foreach loop="$permissions.image.aliases" value="$alias">, [{$alias}]</xf:foreach></xf:hint>
						</xf:main>
						<xf:action class="{{ !empty($permissions.img.user_criteria) ? 'dataList-cell--highlighted' : '' }}"
								   href="{{ link('em/bb-codes', {'bb_code_id': 'img'}) }}">
							{{ phrase('user_criteria') }}
						</xf:action>
						<xf:toggle name="kl_active[img]" selected="$xf.options.klEMEnabledBBCodes.img"
								   class="dataList-cell--separated" submit="true"
								   tooltip="{{ phrase('enable_disable_x', {'title': '[' . phrase('image') . ']'}) }}" />
					</xf:datarow>
					<xf:datarow>
						<xf:main href="{{ link('em/bb-codes', {'bb_code_id': 'media'})}}" id="media">
							<xf:label>{{ phrase('media') }}</xf:label>
							<xf:hint>[media]<xf:foreach loop="$permissions.media.aliases" value="$alias">, [{$alias}]</xf:foreach></xf:hint>
						</xf:main>
						<xf:action class="{{ !empty($permissions.media.user_criteria) ? 'dataList-cell--highlighted' : '' }}"
								   href="{{ link('em/bb-codes', {'bb_code_id': 'media'}) }}">
							{{ phrase('user_criteria') }}
						</xf:action>
						<xf:toggle name="kl_active[media]" selected="$xf.options.klEMEnabledBBCodes.media"
								   class="dataList-cell--separated" submit="true"
								   tooltip="{{ phrase('enable_disable_x', {'title': '[' . phrase('media') . ']'}) }}" />
					</xf:datarow>
					<xf:datarow>
						<xf:main href="{{ link('em/bb-codes', {'bb_code_id': 'quote'})}}" id="quote">
							<xf:label>{{ phrase('quote') }}</xf:label>
							<xf:hint>[quote]<xf:foreach loop="$permissions.quote.aliases" value="$alias">, [{$alias}]</xf:foreach></xf:hint>
						</xf:main>
						<xf:action class="{{ !empty($permissions.quote.user_criteria) ? 'dataList-cell--highlighted' : '' }}"
								   href="{{ link('em/bb-codes', {'bb_code_id': 'quote'}) }}">
							{{ phrase('user_criteria') }}
						</xf:action>
						<xf:toggle name="kl_active[quote]" selected="$xf.options.klEMEnabledBBCodes.quote"
								   class="dataList-cell--separated" submit="true"
								   tooltip="{{ phrase('enable_disable_x', {'title': '[' . phrase('quote') . ']'}) }}" />
					</xf:datarow>
					<xf:datarow>
						<xf:main href="{{ link('em/bb-codes', {'bb_code_id': 'spoiler'})}}" id="spoiler">
							<xf:label>{{ phrase('spoiler') }}</xf:label>
							<xf:hint>[spoiler]<xf:foreach loop="$permissions.spoiler.aliases" value="$alias">, [{$alias}]</xf:foreach></xf:hint>
						</xf:main>
						<xf:action class="{{ !empty($permissions.spoiler.user_criteria) ? 'dataList-cell--highlighted' : '' }}"
								   href="{{ link('em/bb-codes', {'bb_code_id': 'spoiler'}) }}">
							{{ phrase('user_criteria') }}
						</xf:action>
						<xf:toggle name="kl_active[spoiler]" selected="$xf.options.klEMEnabledBBCodes.spoiler"
								   class="dataList-cell--separated" submit="true"
								   tooltip="{{ phrase('enable_disable_x', {'title': '[' . phrase('spoiler') . ']'}) }}" />
					</xf:datarow>
					<xf:datarow>
						<xf:main href="{{ link('em/bb-codes', {'bb_code_id': 'code'})}}" id="code">
							<xf:label>{{ phrase('code') }}</xf:label>
							<xf:hint>[code]<xf:foreach loop="$permissions.code.aliases" value="$alias">, [{$alias}]</xf:foreach></xf:hint>
						</xf:main>
						<xf:action class="{{ !empty($permissions.code.user_criteria) ? 'dataList-cell--highlighted' : '' }}"
								   href="{{ link('em/bb-codes', {'bb_code_id': 'code'}) }}">
							{{ phrase('user_criteria') }}
						</xf:action>
						<xf:toggle name="kl_active[code]" selected="$xf.options.klEMEnabledBBCodes.code"
								   class="dataList-cell--separated" submit="true"
								   tooltip="{{ phrase('enable_disable_x', {'title': '[' . phrase('code') . ']'}) }}" />
					</xf:datarow>
					<xf:datarow>
						<xf:main href="{{ link('em/bb-codes', {'bb_code_id': 'icode'})}}" id="icode">
							<xf:label>{{ phrase('inline_code') }}</xf:label>
							<xf:hint>[icode]<xf:foreach loop="$permissions.icode.aliases" value="$alias">, [{$alias}]</xf:foreach></xf:hint>
						</xf:main>
						<xf:action class="{{ !empty($permissions.icode.user_criteria) ? 'dataList-cell--highlighted' : '' }}"
								   href="{{ link('em/bb-codes', {'bb_code_id': 'icode'}) }}">
							{{ phrase('user_criteria') }}
						</xf:action>
						<xf:toggle name="kl_active[icode]" selected="$xf.options.klEMEnabledBBCodes.icode"
								   class="dataList-cell--separated" submit="true"
								   tooltip="{{ phrase('enable_disable_x', {'title': '[' . phrase('inline_code') . ']'}) }}" />
					</xf:datarow>
					<xf:datarow>
						<xf:main href="{{ link('em/bb-codes', {'bb_code_id': 'align'})}}" id="align">
							<xf:label>{{ phrase('kl_em_text_align') }}</xf:label>
							<xf:hint>[left], [right], [center], [justify]</xf:hint>
						</xf:main>
						<xf:action class="{{ !empty($permissions.align.user_criteria) ? 'dataList-cell--highlighted' : '' }}"
								   href="{{ link('em/bb-codes', {'bb_code_id': 'align'}) }}">
							{{ phrase('user_criteria') }}
						</xf:action>
						<xf:toggle name="kl_active[align]" selected="$xf.options.klEMEnabledBBCodes.align"
								   class="dataList-cell--separated" submit="true"
								   tooltip="{{ phrase('enable_disable_x', {'title': '[' . phrase('text_align') . ']'}) }}" />
					</xf:datarow>
					<xf:datarow>
						<xf:main href="{{ link('em/bb-codes', {'bb_code_id': 'list'})}}" id="list">
							<xf:label>{{ phrase('list') }}</xf:label>
							<xf:hint>[list], [indent]</xf:hint>
						</xf:main>
						<xf:action class="{{ !empty($permissions.list.user_criteria) ? 'dataList-cell--highlighted' : '' }}"
								   href="{{ link('em/bb-codes', {'bb_code_id': 'list'}) }}">
							{{ phrase('user_criteria') }}
						</xf:action>
						<xf:toggle name="kl_active[list]" selected="$xf.options.klEMEnabledBBCodes.list"
								   class="dataList-cell--separated" submit="true"
								   tooltip="{{ phrase('enable_disable_x', {'title': '[' . phrase('list') . ']'}) }}" />
					</xf:datarow>
					<xf:datarow>
						<xf:main href="{{ link('em/bb-codes', {'bb_code_id': 'attach'})}}" id="icode">
							<xf:label>{{ phrase('attachment') }}</xf:label>
							<xf:hint>[attach]<xf:foreach loop="$permissions.attach.aliases" value="$alias">, [{$alias}]</xf:foreach></xf:hint>
						</xf:main>
						<xf:action class="{{ !empty($permissions.attach.user_criteria) ? 'dataList-cell--highlighted' : '' }}"
								   href="{{ link('em/bb-codes', {'bb_code_id': 'attach'}) }}">
							{{ phrase('user_criteria') }}
						</xf:action>
						<xf:toggle name="kl_active[attach]" selected="$xf.options.klEMEnabledBBCodes.attach"
								   class="dataList-cell--separated" submit="true"
								   tooltip="{{ phrase('enable_disable_x', {'title': '[' . phrase('attachment') . ']'}) }}" />
					</xf:datarow>
					<xf:datarow>
						<xf:main href="{{ link('em/bb-codes', {'bb_code_id': 'ispoiler'})}}" id="ispoiler">
							<xf:label>{{ phrase('kl_em_inline_spoiler') }}</xf:label>
							<xf:hint>[ispoiler]<xf:foreach loop="$permissions.ispoiler.aliases" value="$alias">, [{$alias}]</xf:foreach></xf:hint>
						</xf:main>
						<xf:action class="{{ !empty($permissions.ispoiler.user_criteria) ? 'dataList-cell--highlighted' : '' }}"
								   href="{{ link('em/bb-codes', {'bb_code_id': 'ispoiler'}) }}">
							{{ phrase('user_criteria') }}
						</xf:action>
						<xf:toggle name="kl_active[ispoiler]" selected="$xf.options.klEMEnabledBBCodes.ispoiler"
								   class="dataList-cell--separated" submit="true"
								   tooltip="{{ phrase('enable_disable_x', {'title': '[' . phrase('kl_em_inline_spoiler') . ']'}) }}" />
					</xf:datarow>
					<xf:datarow>
						<xf:main href="{{ link('em/bb-codes', {'bb_code_id': 'table'})}}" id="table">
							<xf:label>{{ phrase('kl_em_table') }}</xf:label>
							<xf:hint>[table], [tr], [th], [td]</xf:hint>
						</xf:main>
						<xf:action class="{{ !empty($permissions.table.user_criteria) ? 'dataList-cell--highlighted' : '' }}"
								   href="{{ link('em/bb-codes', {'bb_code_id': 'table'}) }}">
							{{ phrase('user_criteria') }}
						</xf:action>
						<xf:toggle name="kl_active[table]" selected="$xf.options.klEMEnabledBBCodes.table"
								   class="dataList-cell--separated" submit="true"
								   tooltip="{{ phrase('enable_disable_x', {'title': '[' . phrase('kl_em_table') . ']'}) }}" />
					</xf:datarow>
					<xf:datarow>
						<xf:main href="{{ link('em/bb-codes', {'bb_code_id': 'heading'})}}" id="icode">
							<xf:label>{{ phrase('kl_em_heading') }}</xf:label>
							<xf:hint>[heading]<xf:foreach loop="$permissions.heading.aliases" value="$alias">, [{$alias}]</xf:foreach></xf:hint>
						</xf:main>
						<xf:action class="{{ !empty($permissions.heading.user_criteria) ? 'dataList-cell--highlighted' : '' }}"
								   href="{{ link('em/bb-codes', {'bb_code_id': 'heading'}) }}">
							{{ phrase('user_criteria') }}
						</xf:action>
						<xf:toggle name="kl_active[heading]" selected="$xf.options.klEMEnabledBBCodes.heading"
								   class="dataList-cell--separated" submit="true"
								   tooltip="{{ phrase('enable_disable_x', {'title': '[' . phrase('kl_em_heading') . ']'}) }}" />
					</xf:datarow>
					<xf:datarow>
						<xf:main href="{{ link('em/bb-codes', {'bb_code_id': 'hr'})}}" id="icode">
							<xf:label>{{ phrase('kl_em_horizontal_ruler') }}</xf:label>
							<xf:hint>[hr]<xf:foreach loop="$permissions.hr.aliases" value="$alias">, [{$alias}]</xf:foreach></xf:hint>
						</xf:main>
						<xf:action class="{{ !empty($permissions.hr.user_criteria) ? 'dataList-cell--highlighted' : '' }}"
								   href="{{ link('em/bb-codes', {'bb_code_id': 'hr'}) }}">
							{{ phrase('user_criteria') }}
						</xf:action>
						<xf:toggle name="kl_active[hr]" selected="$xf.options.klEMEnabledBBCodes.hr"
								   class="dataList-cell--separated" submit="true"
								   tooltip="{{ phrase('enable_disable_x', {'title': '[' . phrase('kl_em_horizontal_ruler') . ']'}) }}" />
					</xf:datarow>
					<xf:datarow rowtype="subsection">
						<xf:cell colspan="3">{{ phrase('kl_em_editor_manager_bb_codes') }}</xf:cell>
					</xf:datarow>
					<xf:datarow>
						<xf:main href="{{ link('em/bb-codes', {'bb_code_id': 'fa'})}}" id="fa">
							<xf:label>{{ phrase('kl_em_font_awesome') }}</xf:label>
							<xf:hint>[fa]<xf:foreach loop="$permissions.fa.aliases" value="$alias">, [{$alias}]</xf:foreach></xf:hint>
						</xf:main>
						<xf:action class="{{ !empty($permissions.fa.user_criteria) ? 'dataList-cell--highlighted' : '' }}"
								   href="{{ link('em/bb-codes', {'bb_code_id': 'fa'}) }}">
							{{ phrase('user_criteria') }}
						</xf:action>
						<xf:toggle name="kl_active[fa]" selected="$xf.options.klEMEnabledBBCodes.fa"
								   class="dataList-cell--separated" submit="true"
								   tooltip="{{ phrase('enable_disable_x', {'title': '[' . phrase('kl_em_font_awesome') . ']'}) }}" />
					</xf:datarow>
					<xf:datarow>
						<xf:main href="{{ link('em/bb-codes', {'bb_code_id': 'bgcolor'})}}" id="bgcolor">
							<xf:label>{{ phrase('kl_em_background_color') }}</xf:label>
							<xf:hint>[bgcolor]<xf:foreach loop="$permissions.bgcolor.aliases" value="$alias">, [{$alias}]</xf:foreach></xf:hint>
						</xf:main>
						<xf:action class="{{ !empty($permissions.bgcolor.user_criteria) ? 'dataList-cell--highlighted' : '' }}"
								   href="{{ link('em/bb-codes', {'bb_code_id': 'bgcolor'}) }}">
							{{ phrase('user_criteria') }}
						</xf:action>
						<xf:toggle name="kl_active[bgcolor]" selected="$xf.options.klEMEnabledBBCodes.bgcolor"
								   class="dataList-cell--separated" submit="true"
								   tooltip="{{ phrase('enable_disable_x', {'title': '[' . phrase('kl_em_background_color') . ']'}) }}" />
					</xf:datarow>
					<xf:datarow>
						<xf:main href="{{ link('em/bb-codes', {'bb_code_id': 'hide'})}}" id="hide">
							<xf:label>{{ phrase('kl_em_hide') }}</xf:label>
							<xf:hint>[hide], [hidereply], [hidethanks], [hidereplythanks], [hideposts], [hidemembers]</xf:hint>
						</xf:main>
						<xf:action class="{{ !empty($permissions.hide.user_criteria) ? 'dataList-cell--highlighted' : '' }}"
								   href="{{ link('em/bb-codes', {'bb_code_id': 'hide'}) }}">
							{{ phrase('user_criteria') }}
						</xf:action>
						<xf:toggle name="kl_active[hide]" selected="$xf.options.klEMEnabledBBCodes.hide"
								   class="dataList-cell--separated" submit="true"
								   tooltip="{{ phrase('enable_disable_x', {'title': '[' . phrase('kl_em_hide') . ']'}) }}" />
					</xf:datarow>
					<xf:datarow>
						<xf:main href="{{ link('em/bb-codes', {'bb_code_id': 'parsehtml'})}}" id="parsehtml">
							<xf:label>{{ phrase('kl_em_parse_html') }}</xf:label>
							<xf:hint>[parsehtml]<xf:foreach loop="$permissions.parsehtml.aliases" value="$alias">, [{$alias}]</xf:foreach></xf:hint>
						</xf:main>
						<xf:action class="{{ !empty($permissions.parsehtml.user_criteria) ? 'dataList-cell--highlighted' : '' }}"
								   href="{{ link('em/bb-codes', {'bb_code_id': 'parsehtml'}) }}">
							{{ phrase('user_criteria') }}
						</xf:action>
						<xf:toggle name="kl_active[parsehtml]" selected="$xf.options.klEMEnabledBBCodes.parsehtml"
								   class="dataList-cell--separated" submit="true"
								   tooltip="{{ phrase('enable_disable_x', {'title': '[' . phrase('kl_em_parse_html') . ']'}) }}" />
					</xf:datarow>
					<xf:datarow>
						<xf:main href="{{ link('em/bb-codes', {'bb_code_id': 'sub'})}}" id="sub">
							<xf:label>{{ phrase('kl_em_subscript') }}</xf:label>
							<xf:hint>[sub]<xf:foreach loop="$permissions.sub.aliases" value="$alias">, [{$alias}]</xf:foreach></xf:hint>
						</xf:main>
						<xf:action class="{{ !empty($permissions.sub.user_criteria) ? 'dataList-cell--highlighted' : '' }}"
								   href="{{ link('em/bb-codes', {'bb_code_id': 'sub'}) }}">
							{{ phrase('user_criteria') }}
						</xf:action>
						<xf:toggle name="kl_active[sub]" selected="$xf.options.klEMEnabledBBCodes.sub"
								   class="dataList-cell--separated" submit="true"
								   tooltip="{{ phrase('enable_disable_x', {'title': '[' . phrase('kl_em_subscript') . ']'}) }}" />
					</xf:datarow>
					<xf:datarow>
						<xf:main href="{{ link('em/bb-codes', {'bb_code_id': 'sup'})}}" id="sup">
							<xf:label>{{ phrase('kl_em_superscript') }}</xf:label>
							<xf:hint>[sup]<xf:foreach loop="$permissions.sup.aliases" value="$alias">, [{$alias}]</xf:foreach></xf:hint>
						</xf:main>
						<xf:action class="{{ !empty($permissions.sup.user_criteria) ? 'dataList-cell--highlighted' : '' }}"
								   href="{{ link('em/bb-codes', {'bb_code_id': 'sup'}) }}">
							{{ phrase('user_criteria') }}
						</xf:action>
						<xf:toggle name="kl_active[sup]" selected="$xf.options.klEMEnabledBBCodes.sup"
								   class="dataList-cell--separated" submit="true"
								   tooltip="{{ phrase('enable_disable_x', {'title': '[' . phrase('kl_em_superscript') . ']'}) }}" />
					</xf:datarow>
					<xf:datarow>
						<xf:main href="{{ link('em/bb-codes', {'bb_code_id': 'video'})}}" id="sup">
							<xf:label>{{ phrase('kl_em_video') }}</xf:label>
							<xf:hint>[video]<xf:foreach loop="$permissions.sup.aliases" value="$alias">, [{$alias}]</xf:foreach></xf:hint>
						</xf:main>
						<xf:action class="{{ !empty($permissions.video.user_criteria) ? 'dataList-cell--highlighted' : '' }}"
								   href="{{ link('em/bb-codes', {'bb_code_id': 'video'}) }}">
							{{ phrase('user_criteria') }}
						</xf:action>
						<xf:toggle name="kl_active[video]" selected="$xf.options.klEMEnabledBBCodes.video"
								   class="dataList-cell--separated" submit="true"
								   tooltip="{{ phrase('enable_disable_x', {'title': '[' . phrase('kl_em_video') . ']'}) }}" />
					</xf:datarow>
					<xf:datarow>
						<xf:main href="{{ link('em/bb-codes', {'bb_code_id': 'audio'})}}" id="sup"
								 style="border-bottom: 1px solid #dfdfdf;">
							<xf:label>{{ phrase('kl_em_audio') }}</xf:label>
							<xf:hint>[audio]<xf:foreach loop="$permissions.audio.aliases" value="$alias">, [{$alias}]</xf:foreach></xf:hint>
						</xf:main>
						<xf:action class="{{ !empty($permissions.audio.user_criteria) ? 'dataList-cell--highlighted' : '' }}"
								   href="{{ link('em/bb-codes', {'bb_code_id': 'audio'}) }}"
								   style="border-bottom: 1px solid #dfdfdf;">
							{{ phrase('user_criteria') }}
						</xf:action>
						<xf:toggle name="kl_active[audio]" selected="$xf.options.klEMEnabledBBCodes.audio"
								   class="dataList-cell--separated" submit="true" style="border-bottom: 1px solid #dfdfdf;"
								   tooltip="{{ phrase('enable_disable_x', {'title': '[' . phrase('kl_em_audio') . ']'}) }}" />
					</xf:datarow>
				</xf:datalist>
			</xf:form>
			<xf:form action="{{ link('bb-codes/toggle') }}" ajax="true">
				<xf:datalist>
					<xf:foreach loop="$addons" value="$addon" key="$addonId">
						<xf:if is="{$customBbCodes.{$addonId}} is not empty">
							<xf:datarow rowtype="subsection">
								<xf:cell colspan="3">{$addon}</xf:cell>
							</xf:datarow>
							<xf:foreach loop="{$customBbCodes.{$addonId}}" value="$bbCode">
								<xf:macro name="custom_bb_code" arg-bbCode="{$bbCode}"
										  arg-permissions="{$permissions}" />
							</xf:foreach>
						</xf:if>
					</xf:foreach>
					<xf:if is="{$customBbCodes.0} is not empty">
						<xf:datarow rowtype="subsection">
							<xf:cell colspan="3">{{ phrase('custom_bb_codes') }}</xf:cell>
						</xf:datarow>
						<xf:foreach loop="$customBbCodes.0" value="$bbCode">
							<xf:macro name="custom_bb_code" arg-bbCode="{$bbCode}"
									  arg-permissions="{$permissions}" />
						</xf:foreach>
					</xf:if>
				</xf:datalist>
			</xf:form>
		</div>
	</div>
</div>

<xf:macro name="custom_bb_code" arg-bbCode="!" arg-permissions="!">
	<xf:datarow>
		<xf:main href="{{ link('em/bb-codes', $bbCode) }}">
			<xf:label>{$bbCode.title}</xf:label>
			<xf:hint>[{$bbCode.bb_code_id}]<xf:foreach loop="{$permissions.{$bbCode.bb_code_id}.aliases}" value="$alias">, [{$alias}]</xf:foreach></xf:hint>
			<xf:explain>{$bbCode.description}</xf:explain>
		</xf:main>
		<xf:action class="{{ !empty({$permissions.{$bbCode.bb_code_id}.user_criteria}) ? 'dataList-cell--highlighted' : '' }}"
				   href="{{ link('em/bb-codes', $bbCode) }}">
			{{ phrase('user_criteria') }}
		</xf:action>
		<xf:toggle name="active[{$bbCode.bb_code_id}]" selected="$bbCode.active"
				   class="dataList-cell--separated" submit="true"
				   tooltip="{{ phrase('enable_disable_x', {'title': '[' . $bbCode.bb_code_id . ']'}) }}" />
	</xf:datarow>
</xf:macro>