<xf:title>{{ phrase('kl_em_audio_proxy_details') }}</xf:title>

<xf:js src="https://cdn.polyfill.io/v2/polyfill.min.js" />
<xf:js src="editor-manager/vendor/plyr.min.js" addon="KL/EditorManager" />
<xf:js src="editor-manager/vendor/rangetouch.js" addon="KL/EditorManager" />
<xf:js src="editor-manager/video-audio.js" addon="KL/EditorManager" />
<xf:css src="public:kl_em_plyr.less" />

<div class="block">
	<div class="block-container">
		<div class="block-body">
			<xf:formrow label="{{ phrase('kl_em_audio') }}">
				<div>
					<audio class="js-PlyrAudio" controls>
						<source src="{{ link('logs/audio-proxy/audio', $audio) }}" type="{$audio.mime_type}">
						{{ phrase('kl_em_browser_not_supporting_audio') }}
					</audio>
				</div>
				<a href="{$audio.url}" target="_blank">{$audio.url}</a>
			</xf:formrow>
			<xf:formrow label="{{ phrase('hits') }}">{$audio.views|number}</xf:formrow>
			<xf:formrow label="{{ phrase('first_requested') }}"><xf:date time="{$audio.first_request_date}" /></xf:formrow>
			<xf:formrow label="{{ phrase('last_requested') }}"><xf:date time="{$audio.last_request_date}" /></xf:formrow>

			<xf:if is="{$xf.options.klEMAudioLinkProxyReferrer.enabled} AND $audio.Referrers is not empty">
				<xf:datalist class="dataList--separatedTop" data-xf-init="responsive-data-list">
					<xf:datarow rowtype="header">
						<xf:cell>{{ phrase('referrer') }}</xf:cell>
						<xf:cell>{{ phrase('hits') }}</xf:cell>
						<xf:cell>{{ phrase('first_seen') }}</xf:cell>
						<xf:cell>{{ phrase('last_seen') }}</xf:cell>
					</xf:datarow>
					<xf:foreach loop="$audio.Referrers" value="$referrer">
						<xf:datarow rowclass="dataList-row--noHover">
							<xf:cell dir="auto"><a href="{$referrer.referrer_url}" target="_blank">{$referrer.referrer_url}</a></xf:cell>
							<xf:cell>{$referrer.hits|number}</xf:cell>
							<xf:cell><xf:date time="{$referrer.first_date}" /></xf:cell>
							<xf:cell><xf:date time="{$referrer.last_date}" /></xf:cell>
						</xf:datarow>
					</xf:foreach>
				</xf:datalist>
			</xf:if>
		</div>
	</div>
</div>