<xf:if is="$dropdown.isInsert()">
	<xf:title>{{ phrase('kl_em_add_dropdown') }}</xf:title>
	<xf:else />
	<xf:title>{{ phrase('kl_em_dropdown_edit:') }} {$dropdown.title}</xf:title>
</xf:if>

<xf:css src="public:editor.less" />
<xf:css src="kl_em_layout.less" />
<xf:js src="editor-manager/vendor/jquery-ui.min.js" addon="KL/EditorManager" />
<xf:js src="editor-manager/layout.js" min="1" addon="KL/EditorManager" />

<xf:if is="{{ is_addon_active('Math') }}">
	<xf:css src="public:Math.less" />
</xf:if>

<xf:form action="{{ link('em/dropdowns/save', $dropdown) }}" ajax="true" class="block">

	<div class="block-container">
		<xf:textboxrow name="title" value="{$dropdown.title}">
			<xf:label>{{ phrase('title') }}</xf:label>
		</xf:textboxrow>
		<xf:textboxrow name="icon" value="{$dropdown.icon}">
			<xf:label>{{ phrase('kl_em_icon') }}</xf:label>
		</xf:textboxrow>

		<dl class="formRow formRow--input">
			<dt>
				<div class="formRow-labelWrapper">
					<label class="formRow-label">{{ phrase('kl_em_layout') }}</label></div>
			</dt>
			<dd>
				<span class="fr-command fr-btn" style="display: none"></span>
				<div class="fr-dropdown-menu visible" role="listbox">
					<h3>{{ phrase('kl_em_available_buttons') }}</h3>
					<div class="fr-dropdown-wrapper" role="presentation">
						<div class="fr-dropdown-content" role="presentation">
							<ul class="fr-dropdown-list ui-draggable-source">
								<xf:foreach loop="$bbCodes" value="$field">
									<li data-value="{$field.toolbarName}" class="ui-draggable-element">
										<a class="fr-command">
											<i class="fa fa-{$field.icon}" aria-hidden="true"></i>
											&nbsp;&nbsp;{$field.name}
										</a>
									</li>
								</xf:foreach>
							</ul>
						</div>
					</div>
				</div>
				
				<span class="fr-command fr-btn" style="display: none"></span>
				<div class="fr-dropdown-menu visible" role="listbox">
					<h3>{{ phrase('kl_em_dropdown_content') }}</h3>
					<div class="fr-dropdown-wrapper" role="presentation">
						<div class="fr-dropdown-content" role="presentation">
							<ul class="fr-dropdown-list ui-sortable ui-droppable" data-value="dropdown">
								<xf:foreach loop="$layout" value="$field">
									<li data-value="{$field.toolbarName}" class="ui-draggable-element">
										<a class="fr-command">
											<i class="fa fa-{$field.icon}" aria-hidden="true"></i>
											&nbsp;&nbsp;{$field.name}
										</a>
									</li>
								</xf:foreach>
							</ul>
						</div>
					</div>
				</div>
				<xf:comment>
				<div class="fr-toolbar ui-draggable-source">
					<xf:foreach loop="$bbCodes" value="$field">
						<xf:if is="$field.iconType === 'separator'">
							<span data-value="|" class="fr-sep fr-command fr-btn ui-draggable-element"><i class="separator" title="{{ phrase('kl_em_separator') }}"></i></span>
							<xf:else />
							<span data-value="{$field.toolbarName}" class="fr-command fr-btn ui-draggable-element"><i class="fa fa-{$field.icon}" title="{$field.name}"></i></span>
						</xf:if>
					</xf:foreach>
				</div>

				<h3>{{ phrase('kl_em_layout') }}</h3>
				<div class="fr-toolbar fr-dropdown ui-sortable ui-droppable" data-value="dropdown">
					<xf:foreach loop="$layout" value="$field">
						<span data-value="{$field.toolbarName}" class="fr-command fr-btn ui-draggable-element"><i class="fa fa-{$field.icon}" title="{$field.name}"></i></span>
					</xf:foreach>
				</div>
				</xf:comment>
			</dd>
		</dl>

		<input type="hidden" value='{$input|json|raw}' name="toolbar_layout" id="layoutValue" />
		<xf:submitrow sticky="true" icon="save" />
	</div>
</xf:form>