<xf:title>{{ phrase('admin_navigation.emFonts') }}</xf:title>

<xf:pageaction>
	<div class="buttonGroup">
		<xf:button href="{{ link('em/fonts/add') }}" icon="add">{{ phrase('kl_em_add_font') }}</xf:button>
		<xf:button href="{{ link('em/fonts/sort') }}" icon="sort" overlay="true" />
	</div>
</xf:pageaction>

<xf:if is="$externalFontCount > 4">
	<div class="blockMessage blockMessage--warning blockMessage--iconic">
		{{ phrase('kl_em_many_external_fonts_warning') }}
	</div>
</xf:if>

<xf:form action="{{ link('em/fonts/toggle') }}"
		ajax="true" class="block">
	<xen:comment>
	<div class="block-outer">
		<xf:macro template="filter_macros" name="quick_filter" arg-key="nodes" arg-class="block-outer-opposite" />
	</div>
	</xen:comment>
	
	<div class="block-container">
		<div class="block-body">
			<xf:datalist>
				<xf:foreach loop="$fonts" value="$font">
					<xf:datarow>
						<xf:cell class="dataList-cell--link dataList-cell--main" hash="{$font.font_id}">
							<a href="{{ link('em/fonts/edit', $font) }}">
								<div class="dataList-mainRow">{$font.title} <span class="dataList-hint" dir="auto">{$font.family}</span></div>
							</a>
						</xf:cell>
						<xf:toggle name="active[{$font.font_id}]" selected="$font.active"
								   class="dataList-cell--separated" submit="true"
								   tooltip="{{ phrase('enable_disable_x', {'title': $font.font_id }) }}" />
						<xf:delete href="{{ link('em/fonts/delete', $font) }}" />
					</xf:datarow>
				</xf:foreach>
			</xf:datalist>
		</div>
		<div class="block-footer">
			<span class="block-footer-counter">{{ display_totals($fonts) }}</span>
		</div>
	</div>
</xf:form>