<xf:title>{{ phrase('edit_bb_code:') }} {$bbCode.bb_code_id}</xf:title>

<xf:form action="{{ link('em/bb-codes/save', $bbCode) }}" ajax="true" class="block">
	<div class="block-container">
		<h2 class="block-tabHeader tabs hScroller" data-xf-init="h-scroller tabs" role="tablist">
			<span class="hScroller-scroll">
				<xf:if is="!in_array($bbCode.bb_code_id, ['table', 'align', 'list'])">
					<a class="tabs-tab is-active"
					   role="tab"
					   tabindex="0"
					   aria-controls="bb-code-options">{{ phrase('options') }}</a>
				</xf:if>
				<xf:macro template="helper_criteria"
						  name="user_tabs"
						  arg-userTabTitle="{{ phrase('user_criteria')|for_attr }}" />
			</span>
		</h2>

		<ul class="block-body tabPanes">
			<xf:if is="!in_array($bbCode.bb_code_id, ['table', 'align', 'list'])">
				<li class="is-active" role="tabpanel" id="bb-code-options">
					<xf:if contentcheck="true">
						<xf:contentcheck>
							<xf:foreach loop="$options" value="$option">
								<xf:macro name="option_row"
										  template="option_macros"
										  arg-option="{$option}" />
							</xf:foreach>
							<hr class="formRowSep" />
						</xf:contentcheck>
					</xf:if>

					<xf:if is="$bbCode.bb_code_id != 'hide'">
						<xf:formrow label="{{ phrase('kl_em_aliases') }}">
							<ul class="inputList">
								<xf:foreach loop="$bbCode.aliases" value="$alias">					
									<li>
										<xf:textbox name="aliases[]" value="{$alias}" />
									</li>
								</xf:foreach>
								<li data-xf-init="field-adder">
									<xf:textbox name="aliases[]" />
								</li>
							</ul>
						</xf:formrow>
					</xf:if>
				</li>
			</xf:if>

			<xf:macro template="helper_criteria" name="user_panes"
					  arg-criteria="{{ $userCriteria.getCriteriaForTemplate() }}"
					  arg-data="{{ $userCriteria.getExtraTemplateData() }}" />
		</ul>

		<xf:submitrow sticky="true" icon="save" />
	</div>
</xf:form>