<xf:if is="$xf.debug">
	<span class="u-anchorTarget" id="{$option.option_id}"></span>
	<xf:set var="$hintHtml"><xf:trim>
		<xf:if is="$option.canEdit()">
			<xf:macro template="option_macros"
					  name="option_edit_link"
					  arg-group="{$group}"
					  arg-option="{$option}" />
		</xf:if>
		<xf:if is="$includeAddOnHint AND $group AND $option.addon_id AND $option.addon_id != $group.addon_id AND $option.addon_id != 'XF'">
			<span class="formRow-hint-featured">
				<a href="{{ link('add-ons/options', $option.AddOn) }}">
					{$option.AddOn.title}
				</a>
			</span>
		</xf:if>
		</xf:trim>
	</xf:set>
	<xf:formrow label="{$option.title}"
				hint="{$hintHtml}"
				explain="{$option.explain}">
		<div class="blockMessage blockMessage--warning blockMessage--iconic">
			{{ phrase('kl_em_option_debug_mode_only') }}
		</div>

		<xf:set var="$inputName">
			<xf:macro template="option_macros"
					  name="input_name"
					  arg-id="{$option.option_id}" />
		</xf:set>
		<xf:set var="$listedHtml">
			<xf:macro template="option_macros"
					  name="listed_html"
					  arg-id="{$option.option_id}" />
		</xf:set>
		<xf:textbox name="{$inputName}"
					value="{$option.option_value}"
					type="{$formatParams.type}"
					class="{$formatParams.class}">
			<xf:finalhtml>{$listedHtml}</xf:finalhtml>
		</xf:textbox>
	</xf:formrow>
	<xf:else />
</xf:if>