<xf:title>{{ phrase('kl_em_special_chars') }}</xf:title>

<xf:pageaction>
	<div class="buttonGroup">
		<xf:button href="{{ link('em/special-chars/add') }}" icon="add">{{ phrase('kl_em_special_chars_add') }}</xf:button>

		<div class="buttonGroup-buttonWrapper">
			<xf:button class="menuTrigger" data-xf-click="menu" aria-expanded="false" aria-haspopup="true" title="{{ phrase('more_options')|for_attr }}">&#8226;&#8226;&#8226;</xf:button>
			<div class="menu" data-menu="menu" aria-hidden="true">
				<div class="menu-content">
					<h4 class="menu-header">{{ phrase('more_options') }}</h4>
					<xf:if is="$specialChars is not empty">
						<a href="{{ link('em/special-chars/sort') }}" class="menu-linkRow" data-xf-click="overlay">{{ phrase('button.sort') }}</a>
					</xf:if>
					<a href="{{ link('em/special-chars/import') }}" class="menu-linkRow">{{ phrase('button.import') }}</a>
					<xf:if is="$specialChars is not empty">
						<a href="{{ link('em/special-chars/export') }}" data-xf-click="overlay" class="menu-linkRow">{{ phrase('button.export') }}</a>
					</xf:if>
				</div>
			</div>
		</div>
	</div>
</xf:pageaction>

<xf:if is="$specialChars is not empty">
	<xf:form action="{{ link('em/special-chars/toggle') }}"
			 ajax="true" class="block">
		<div class="block-outer">
			<xf:macro template="filter_macros" name="quick_filter" arg-key="kl_em_special_character_group" arg-class="block-outer-opposite" />
		</div>
		<div class="block-container">
			<div class="block-body">
				<xf:datalist>
					<xf:foreach loop="$specialChars" value="$category">
						<xf:datarow>
							<xf:main href="{{ link('em/special-chars/edit', $category) }}"
									 label="{$category.title}" />
							<xf:action href="{{ link('em/special-chars/characters', $category) }}">
								{{ phrase('kl_em_characters') }}
							</xf:action>
							<xf:action class="{{ !empty($category.user_criteria) ? 'dataList-cell--highlighted' : '' }}"
									   href="{{ link('em/special-chars/edit', $category) }}">
								{{ phrase('user_criteria') }}
							</xf:action>
							<xf:toggle name="active[{$category.group_id}]" selected="$category.active"
									   class="dataList-cell--separated" submit="true"
									   tooltip="{{ phrase('enable_disable_x', {'title': $category.title }) }}" />
							<xf:delete href="{{ link('em/special-chars/delete', $category) }}" />
						</xf:datarow>
					</xf:foreach>
				</xf:datalist>
			</div>
			<div class="block-footer">
				<span class="block-footer-counter">{{ display_totals($specialChars) }}</span>
			</div>
		</div>
	</xf:form>
	<xf:else />
	<div class="blockMessage">{{ phrase('no_items_have_been_created_yet') }}</div>
</xf:if>