<xf:if is="$xf.debug">
	<xf:css src="kl_em_options.less" />

	<xf:set var="$formatParams" value="{$option.formatParams}" />

	<xf:set var="$inputName"><xf:macro template="option_macros" name="input_name" arg-id="{$option.option_id}" /></xf:set>
	<xf:set var="$listedHtml">
		<xf:macro template="option_macros" name="listed_html" arg-id="{$option.option_id}" />
	</xf:set>
	<xf:set var="$hintHtml"><xf:trim>
		<xf:if is="$option.canEdit()">
			<xf:macro template="option_macros" name="option_edit_link" arg-group="{$group}" arg-option="{$option}" />
		</xf:if>
		<xf:if is="$includeAddOnHint AND $group AND $option.addon_id AND $option.addon_id != $group.addon_id AND $option.addon_id != 'XF'">
			<span class="formRow-hint-featured">
				<a href="{{ link('add-ons/options', $option.AddOn) }}">{$option.AddOn.title}</a>
			</span>
		</xf:if>
		</xf:trim></xf:set>
	<xf:set var="$explainHtml">{$option.explain}</xf:set>

	<xf:formrow>
		<div class="blockMessage blockMessage--warning blockMessage--iconic">
			{{ phrase('kl_em_option_debug_mode_only') }}
		</div>
	</xf:formrow>
	<div class="multiRow">
		<xf:checkboxrow label="{{phrase('kl_em_enabled_bbcodes')}}" hint="{$hintHtml}">
			<xf:explain>{$explainHtml}</xf:explain>
			<xf:finalhtml>{$listedHtml}</xf:finalhtml>

			<xf:option name="options[{$option.option_id}][bold]" value="1" selected="{{ $option.option_value.bold }}">
				{{ phrase('kl_em_bold') }}
			</xf:option>
			<xf:option name="options[{$option.option_id}][italic]" value="1" selected="{{ $option.option_value.italic }}">
				{{ phrase('italic') }}
			</xf:option>
			<xf:option name="options[{$option.option_id}][underline]" value="1" selected="{{ $option.option_value.underline }}">
				{{ phrase('underline') }}
			</xf:option>
			<xf:option name="options[{$option.option_id}][strike]" value="1" selected="{{ $option.option_value.strike }}">
				{{ phrase('strike_through') }}
			</xf:option>
			<xf:option name="options[{$option.option_id}][color]" value="1" selected="{{ $option.option_value.color }}">
				{{ phrase('text_color') }}
			</xf:option>
			<xf:option name="options[{$option.option_id}][bgcolor]" value="1" selected="{{ $option.option_value.bgcolor }}">
				{{ phrase('kl_em_background_color') }}
			</xf:option>
			<xf:option name="options[{$option.option_id}][font]" value="1" selected="{{ $option.option_value.font }}">
				{{ phrase('font_family') }}
			</xf:option>
			<xf:option name="options[{$option.option_id}][size]" value="1" selected="{{ $option.option_value.size }}">
				{{ phrase('font_size') }}
			</xf:option>
			<xf:option name="options[{$option.option_id}][url]" value="1" selected="{{ $option.option_value.url }}">
				{{ phrase('link') }}
			</xf:option>
			<xf:option name="options[{$option.option_id}][img]" value="1" selected="{{ $option.option_value.img }}">
				{{ phrase('image') }}
			</xf:option>

			<xf:option name="options[{$option.option_id}][media]" value="1" selected="{{ $option.option_value.media }}">
				{{ phrase('media') }}
			</xf:option>
			<xf:option name="options[{$option.option_id}][quote]" value="1" selected="{{ $option.option_value.quote }}">
				{{ phrase('quote') }}
			</xf:option>
			<xf:option name="options[{$option.option_id}][spoiler]" value="1" selected="{{ $option.option_value.spoiler }}">
				{{ phrase('spoiler') }}
			</xf:option>
			<xf:option name="options[{$option.option_id}][ispoiler]" value="1" selected="{{ $option.option_value.ispoiler }}">
				{{ phrase('kl_em_inline_spoiler') }}
			</xf:option>
			<xf:option name="options[{$option.option_id}][code]" value="1" selected="{{ $option.option_value.code }}">
				{{ phrase('code') }}
			</xf:option>
			<xf:option name="options[{$option.option_id}][icode]" value="1" selected="{{ $option.option_value.icode }}">
				{{ phrase('inline_code') }}
			</xf:option>
			<xf:option name="options[{$option.option_id}][align]" value="1" selected="{{ $option.option_value.align }}">
				{{ phrase('alignment') }}
			</xf:option>
			<xf:option name="options[{$option.option_id}][list]" value="1" selected="{{ $option.option_value.list }}">
				{{ phrase('list') }}
			</xf:option>
			<xf:option name="options[{$option.option_id}][table]" value="1" selected="{{ $option.option_value.table }}">
				{{ phrase('kl_em_table') }}
			</xf:option>
			<xf:option name="options[{$option.option_id}][hide]" value="1" selected="{{ $option.option_value.hide }}">
				{{ phrase('kl_em_hide') }}
			</xf:option>
			<xf:option name="options[{$option.option_id}][parsehtml]" value="1" selected="{{ $option.option_value.parsehtml }}">
				{{ phrase('kl_em_parse_html') }}
			</xf:option>
			<xf:option name="options[{$option.option_id}][sub]" value="1" selected="{{ $option.option_value.sub }}">
				{{ phrase('kl_em_subscript') }}
			</xf:option>
			<xf:option name="options[{$option.option_id}][sup]" value="1" selected="{{ $option.option_value.sup }}">
				{{ phrase('kl_em_superscript') }}
			</xf:option>
			<xf:option name="options[{$option.option_id}][attach]" value="1" selected="{{ $option.option_value.attach }}">
				{{ phrase('attachment') }}
			</xf:option>
			<xf:option name="options[{$option.option_id}][video]" value="1" selected="{{ $option.option_value.video }}">
				{{ phrase('kl_em_video') }}
			</xf:option>
			<xf:option name="options[{$option.option_id}][audio]" value="1" selected="{{ $option.option_value.audio }}">
				{{ phrase('kl_em_audio') }}
			</xf:option>
		</xf:checkboxrow>
	</div>

	<input type="hidden" name="options_listed[]" value="{$option.option_id}">
	<xf:else />
</xf:if>