<xf:title>{{ phrase('kl_em_insert_gfont') }}</xf:title>

<form class="block" id="editor_kl_em_gfont_form">
	<div class="block-container">
		<div class="block-body font-preview-list">
			<xf:textboxrow
						   name="title"
						   id="editor_kl_em_gfont_title"
						   ac="single"
						   data-autosubmit="false"
						   data-acurl="{{ link('editor/findGFont') }}"
						   label="{{ phrase('kl_em_google_font_name') }}"
						   dir="ltr" />

			<dl class="formRow">
				<dt>
					<div class="formRow-labelWrapper">
						<label class="formRow-label">{{ phrase('kl_em_gfont_preview') }}</label></div>
				</dt>
				<dd id="editor_kl_em_gfont_preview" style="height: 75px; font-size: 28px; overflow: hidden; text-overflow: ellipsis">
					{{ phrase('kl_em_font_preview_sentence') }}
				</dd>
			</dl>
		</div>
		<xf:submitrow submit="{{ phrase('continue') }}" id="editor_kl_em_gfont_submit" />
	</div>
</form>

<xf:js src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" />
<xf:js src="editor-manager/vendor/textFit.js" min="1" addon="KL/EditorManager" />
<xf:js src="editor-manager/google-font.js" min="1" addon="KL/EditorManager" />