<xf:title>
	<xf:if is="$emote.isInsert()">
		{{ phrase('kl_em_add_custom_emote')}}
		<xf:else />
		{{ phrase('kl_em_edit_custom_emote:')}} {$emote.title}
	</xf:if>
</xf:title>

<xf:form action="{{ link('account/kl-custom-emotes/save', $emote) }}" class="block"
		 ajax="true" upload="true">
	<div class="block-container">
		<div class="block-body">
			<xf:textboxrow name="title" value="{$emote.title}" placeholder="{{ phrase('title...') }}"
						   label="{{ phrase('title') }}" required="true" />

			<xf:textboxrow name="replacement" value="{$emote.replacement}" required="true"
						   explain="{{ phrase('kl_em_replacement_explain') }}"
						   label="{{ phrase('kl_em_replacement') }}" />

			<xf:if is="$emote.isInsert()">
				<xf:uploadrow label="{{ phrase('image') }}" required="true" name="upload" />
				<xf:hiddenval name="mode" value="upload" />
				<xf:else />
			</xf:if>
		</div>

		<xf:submitrow icon="save" />
	</div>
</xf:form>