"Templates": "{{ phrase('kl_em_templates')|escape('json') }}",

"Align Justify": "{{ phrase('kl_em_align_justify')|escape('json') }}",

"Hide Reply": "{{ phrase('kl_em_hide_reply')|escape('json') }}",
"Hide Posts": "{{ phrase('kl_em_hide_posts')|escape('json') }}",
"Hide Thanks": "{{ phrase('kl_em_hide_thanks')|escape('json') }}",
"Hide Reply Thanks": "{{ phrase('kl_em_hide_reply_thanks')|escape('json') }}",
"Hide": "{{ phrase('kl_em_hide')|escape('json') }}",

"HTML": "{{ phrase('html')|escape('json') }}",

"Google Font": "{{ phrase('kl_em_google_font')|escape('json') }}",
"unlink all links": "{{ phrase('kl_em_unlink_all_links')|escape('json') }}",