<xf:if is="{{ in_array('image', $klEM.plugins) }}">
	<xf:css src="kl_em_froala_image.less" />
</xf:if>

<xf:if is="{{ in_array('fullscreen', $klEM.plugins) }}">
	<xf:js src="vendor/froala/plugins/fullscreen.min.js" />
	<xf:css src="kl_em_froala_fullscreen.less" />
</xf:if>

<xf:if is="{{ in_array('hide', $klEM.plugins) }}">
	<xf:js src="editor-manager/plugins/hide.plugin.js" min="1" addon="KL/EditorManager" />
</xf:if>

<xf:if is="{{ in_array('templates', $klEM.plugins) }}">
	<xf:css src="kl_em_editor_templates.less" />
	<xf:js src="editor-manager/plugins/templates.plugin.js" min="1" addon="KL/EditorManager" />
</xf:if>

<xf:if is="{{ in_array('charCounter', $klEM.plugins) }}">
	<xf:js src="editor-manager/plugins/charCounter.plugin.js" min="1" addon="KL/EditorManager" />
</xf:if>

<xf:if is="{{ in_array('specialCharacters', $klEM.plugins) }}">
	<xf:js src="editor-manager/plugins/specialCharacters.plugin.js" min="1" addon="KL/EditorManager" />
	<xf:css src="kl_em_froala_special_characters.less" />
	<script class="js-specialCharacters" type="text/template">
		<div class="menu menu--specialChars" data-menu="menu" aria-hidden="true"
			data-href="{{ link('editor/kl-em-special-chars') }}"
			data-load-target=".js-specialCharsMenuBody">
			<div class="menu-content">
				<div class="js-specialCharsMenuBody">
					<div class="menu-row">{{ phrase('loading...') }}</div>
				</div>
			</div>
		</div>
	</script>
</xf:if>

<xf:if is="{{ in_array('parseHtml', $klEM.plugins) }}">
	<xf:js src="editor-manager/plugins/parseHtml.plugin.js" min="1" addon="KL/EditorManager" />
</xf:if>

<xf:if is="{{ in_array('colors', $klEM.plugins) }}">
	<xf:js src="editor-manager/plugins/colors.plugin.js" min="1" addon="KL/EditorManager" />
</xf:if>

<xf:if is="{{ in_array('gFontFamily', $klEM.plugins) }}">
	<xf:js src="editor-manager/plugins/gFontFamily.plugin.js" min="1" addon="KL/EditorManager" />
</xf:if>

<xf:if is="{{ in_array('unlinkAll', $klEM.plugins) }}">
	<xf:js src="editor-manager/plugins/unlinkAll.plugin.js" min="1" addon="KL/EditorManager" />
</xf:if>

<xf:if is="{{ $klEM.editorConfig.initOnClick }}">
	<xf:js>
		$('.actionBar-action--reply, .button--multiQuote').on('click', function(event) {
			$('.fr-view').trigger('focus');
		});
	</xf:js>
</xf:if>