<xf:if is="$enabled_bb_codes.bold || $enabled_bb_codes.italic || $enabled_bb_codes.underline || $enabled_bb_codes.strike">
	<li class="bbCodeHelpItem block-row block-row--separated">
		<span class="u-anchorTarget" id="basic"></span>
		<h3 class="block-textHeader">
			<xf:if is="$enabled_bb_codes.bold">{{ phrase('kl_em_bold_code') }}<xf:if is="$enabled_bb_codes.italic || $enabled_bb_codes.underline || $enabled_bb_codes.strike">{{ phrase('kl_em_bb_code_help_separator') }}</xf:if></xf:if>
			<xf:if is="$enabled_bb_codes.italic">{{ phrase('kl_em_italic_code') }}<xf:if is="$enabled_bb_codes.underline || $enabled_bb_codes.strike">{{ phrase('kl_em_bb_code_help_separator') }}</xf:if></xf:if>
			<xf:if is="$enabled_bb_codes.underline">{{ phrase('kl_em_underline_code') }}<xf:if is="$enabled_bb_codes.strike">{{ phrase('kl_em_bb_code_help_separator') }}</xf:if></xf:if>
			<xf:if is="$enabled_bb_codes.strike">{{ phrase('kl_em_struck_through_code') }}</xf:if>
			{{ phrase('kl_em_bb_code_help_separator2') }}
			<xf:if is="$enabled_bb_codes.bold">{{ phrase('bold') }}<xf:if is="$enabled_bb_codes.italic || $enabled_bb_codes.underline || $enabled_bb_codes.strike">{{ phrase('kl_em_bb_code_help_separator') }}</xf:if></xf:if>
			<xf:if is="$enabled_bb_codes.italic">{{ phrase('italic') }}<xf:if is="$enabled_bb_codes.underline || $enabled_bb_codes.strike">{{ phrase('kl_em_bb_code_help_separator') }}</xf:if></xf:if>
			<xf:if is="$enabled_bb_codes.underline">{{ phrase('underline') }}<xf:if is="$enabled_bb_codes.strike">{{ phrase('kl_em_bb_code_help_separator') }}</xf:if></xf:if>
			<xf:if is="$enabled_bb_codes.strike">{{ phrase('kl_em_struck_through') }}</xf:if>
		</h3>
		<div>{{ phrase('kl_em_bb_code_b_u_i_s_desc') }}</div>
		<div class="bbCodeDemoBlock">
			<dl class="bbCodeDemoBlock-item">
				<dt>{{ phrase('example:') }}</dt>
				<dd>
					<xf:if is="$enabled_bb_codes.bold">{{ phrase('kl_em_bb_code_help_bold_example') }}<xf:if is="$enabled_bb_codes.italic || $enabled_bb_codes.underline || $enabled_bb_codes.strike"><br /></xf:if></xf:if>
					<xf:if is="$enabled_bb_codes.italic">{{ phrase('kl_em_bb_code_help_italic_example') }}<xf:if is="$enabled_bb_codes.underline || $enabled_bb_codes.strike"><br /></xf:if></xf:if>
					<xf:if is="$enabled_bb_codes.underline">{{ phrase('kl_em_bb_code_help_underline_example') }}<xf:if is="$enabled_bb_codes.strike"><br /></xf:if></xf:if>
					<xf:if is="$enabled_bb_codes.strike">{{ phrase('kl_em_bb_code_help_strike_example') }}</xf:if>
				</dd>
			</dl>
			<dl class="bbCodeDemoBlock-item">
				<dt>{{ phrase('output:') }}</dt>
				<dd>
					<xf:if is="$enabled_bb_codes.bold">{{ bb_code(phrase('kl_em_bb_code_help_bold_example'), 'help', null) }}</xf:if>
					<xf:if is="$enabled_bb_codes.italic">{{ bb_code(phrase('kl_em_bb_code_help_italic_example'), 'help', null) }}</xf:if>
					<xf:if is="$enabled_bb_codes.underline">{{ bb_code(phrase('kl_em_bb_code_help_underline_example'), 'help', null) }}</xf:if>
					<xf:if is="$enabled_bb_codes.strike">{{ bb_code(phrase('kl_em_bb_code_help_strike_example'), 'help', null) }}</xf:if>
				</dd>
			</dl>
		</div>
	</li>
</xf:if>

<xf:if is="$enabled_bb_codes.color || $enabled_bb_codes.bgcolor || $enabled_bb_codes.font || $enabled_bb_codes.size">
	<li class="bbCodeHelpItem block-row block-row--separated">
		<span class="u-anchorTarget" id="style"></span>
		<h3 class="block-textHeader">
			<xf:if is="$enabled_bb_codes.color">{{ phrase('kl_em_color_code') }}<xf:if is="$enabled_bb_codes.bgcolor || $enabled_bb_codes.size || $enabled_bb_codes.font">{{ phrase('kl_em_bb_code_help_separator') }}</xf:if></xf:if>
			<xf:if is="$enabled_bb_codes.bgcolor">{{ phrase('kl_em_bgcolor_code') }}<xf:if is="$enabled_bb_codes.size || $enabled_bb_codes.font">{{ phrase('kl_em_bb_code_help_separator') }}</xf:if></xf:if>
			<xf:if is="$enabled_bb_codes.font">{{ phrase('kl_em_font_code') }}<xf:if is="$enabled_bb_codes.font">{{ phrase('kl_em_bb_code_help_separator') }}</xf:if></xf:if>
			<xf:if is="$enabled_bb_codes.size">{{ phrase('kl_em_size_code') }}</xf:if>
			{{ phrase('kl_em_bb_code_help_separator2') }}
			<xf:if is="$enabled_bb_codes.bgcolor">{{ phrase('kl_em_background_color') }}<xf:if is="$enabled_bb_codes.bgcolor || $enabled_bb_codes.size || $enabled_bb_codes.font">{{ phrase('kl_em_bb_code_help_separator') }}</xf:if></xf:if>
			<xf:if is="$enabled_bb_codes.color">{{ phrase('text_color') }}<xf:if is="$enabled_bb_codes.size || $enabled_bb_codes.font">{{ phrase('kl_em_bb_code_help_separator') }}</xf:if></xf:if>
			<xf:if is="$enabled_bb_codes.font">{{ phrase('kl_em_font') }}<xf:if is="$enabled_bb_codes.font">{{ phrase('kl_em_bb_code_help_separator') }}</xf:if></xf:if>
			<xf:if is="$enabled_bb_codes.size">{{ phrase('size') }}</xf:if>
		</h3>
		<div>{{ phrase('kl_em_bb_code_color_font_size_desc') }}</div>
		<div class="bbCodeDemoBlock">
			<dl class="bbCodeDemoBlock-item">
				<dt>{{ phrase('example:') }}</dt>
				<dd>
					<xf:if is="$enabled_bb_codes.color">{{ phrase('kl_em_bb_code_help_color_example') }}<xf:if is="$enabled_bb_codes.bgcolor || $enabled_bb_codes.font || $enabled_bb_codes.size"><br /></xf:if></xf:if>
					<xf:if is="$enabled_bb_codes.bgcolor">{{ phrase('kl_em_bb_code_help_bgcolor_example') }}<xf:if is="$enabled_bb_codes.font || $enabled_bb_codes.size"><br /></xf:if></xf:if>
					<xf:if is="$enabled_bb_codes.font">{{ phrase('kl_em_bb_code_help_font_example') }}<xf:if is="$enabled_bb_codes.size"><br /></xf:if></xf:if>
					<xf:if is="$enabled_bb_codes.size">{{ phrase('kl_em_bb_code_help_size_example', {'max' : $max_font_size}) }}</xf:if>
				</dd>
			</dl>
			<dl class="bbCodeDemoBlock-item">
				<dt>{{ phrase('output:') }}</dt>
				<dd>
					<xf:if is="$enabled_bb_codes.color">{{ bb_code(phrase('kl_em_bb_code_help_color_example'), 'help', null) }}</xf:if>
					<xf:if is="$enabled_bb_codes.bgcolor">{{ bb_code(phrase('kl_em_bb_code_help_bgcolor_example'), 'help', null) }}</xf:if>
					<xf:if is="$enabled_bb_codes.font">{{ bb_code(phrase('kl_em_bb_code_help_font_example'), 'help', null) }}</xf:if>
					<xf:if is="$enabled_bb_codes.size">{{ bb_code(phrase('kl_em_bb_code_help_size_example', {'max' : $max_font_size}), 'help', null) }}</xf:if>
				</dd>
			</dl>
		</div>
	</li>
</xf:if>

<xf:if is="$enabled_bb_codes.sub || $enabled_bb_codes.sup">
	<li class="bbCodeHelpItem block-row block-row--separated">
		<span class="u-anchorTarget" id="style"></span>
		<h3 class="block-textHeader">
			<xf:if is="$enabled_bb_codes.sub">{{ phrase('kl_em_subscript_code') }}<xf:if is="$enabled_bb_codes.sup">{{ phrase('kl_em_bb_code_help_separator') }}</xf:if></xf:if>
			<xf:if is="$enabled_bb_codes.sup">{{ phrase('kl_em_superscript_code') }}</xf:if>
			{{ phrase('kl_em_bb_code_help_separator2') }}
			<xf:if is="$enabled_bb_codes.sub">{{ phrase('kl_em_subscript') }}<xf:if is="$enabled_bb_codes.sup">{{ phrase('kl_em_bb_code_help_separator') }}</xf:if></xf:if>
			<xf:if is="$enabled_bb_codes.sup">{{ phrase('kl_em_superscript') }}</xf:if>
		</h3>
		<div>{{ phrase('kl_em_bb_code_sub_sup_desc') }}</div>
		<div class="bbCodeDemoBlock">
			<dl class="bbCodeDemoBlock-item">
				<dt>{{ phrase('example:') }}</dt>
				<dd>
					<xf:if is="$enabled_bb_codes.sub">{{ phrase('kl_em_bb_code_help_sub_example') }}<xf:if is="$enabled_bb_codes.sup"><br /></xf:if></xf:if>
					<xf:if is="$enabled_bb_codes.sup">{{ phrase('kl_em_bb_code_help_sup_example') }}</xf:if>
				</dd>
			</dl>
			<dl class="bbCodeDemoBlock-item">
				<dt>{{ phrase('output:') }}</dt>
				<dd>
					<xf:if is="$enabled_bb_codes.sub">{{ bb_code(phrase('kl_em_bb_code_help_sub_example'), 'help', null) }}</xf:if>
					<xf:if is="$enabled_bb_codes.sup">{{ bb_code(phrase('kl_em_bb_code_help_sup_example'), 'help', null) }}</xf:if>
					</dd>
			</dl>
		</div>
	</li>
</xf:if>

<xf:if is="$enabled_bb_codes.url">
	<xf:macro name="row_output"
			  arg-title="{{ phrase('bb_code_help_url_email_title')|preEscaped }}"
			  arg-desc="{{ phrase('bb_code_help_url_email_desc')|preEscaped }}"
			  arg-example="{{ phrase('bb_code_help_url_email_example')|preEscaped }}"
			  arg-anchor="email-url" />

	<xf:macro name="row_output"
			  arg-title="{{ phrase('bb_code_help_url_email_advanced_title')|preEscaped }}"
			  arg-desc="{{ phrase('bb_code_help_url_email_advanced_desc')|preEscaped }}"
			  arg-example="{{ phrase('bb_code_help_url_email_advanced_example')|preEscaped }}"
			  arg-anchor="email-url-advanced" />
</xf:if>

<xf:macro name="row_output"
		  arg-title="{{ phrase('bb_code_help_user_title')|preEscaped }}"
		  arg-desc="{{ phrase('bb_code_help_user_desc')|preEscaped }}"
		  arg-example="{{
					   phrase('bb_code_help_user_example', {
					   'id': $xf.visitor.user_id ? $xf.visitor.user_id : '1',
					   'name': $xf.visitor.user_id ? $xf.visitor.username : phrase('user_name')
					   })|preEscaped
					   }}"
		  arg-anchor="user-mention" />

<xf:if is="$enabled_bb_codes.img">
	<xf:macro name="row_output"
			  arg-title="{{ phrase('bb_code_help_img_title')|preEscaped }}"
			  arg-desc="{{ phrase('bb_code_help_img_desc')|preEscaped }}"
			  arg-example="[IMG]{{ base_url(property('publicMetadataLogoUrl') ?: property('publicLogoUrl'), true) }}[/IMG]"
			  arg-anchor="image" />
</xf:if>

<xf:if is="$enabled_bb_codes.video">
	<xf:macro name="row_output"
			  arg-title="{{ phrase('kl_em_bb_code_help_video_title')|preEscaped }}"
			  arg-desc="{{ phrase('kl_em_bb_code_help_video_desc')|preEscaped }}"
			  arg-example="{{ phrase('kl_em_bb_code_help_video_example', {'url': link('canonical:styles/editor-manager') . '/missing-video.mp3'})|preEscaped }}"
			  arg-anchor="video" />
</xf:if>

<xf:if is="$enabled_bb_codes.audio">
	<xf:macro name="row_output"
			  arg-title="{{ phrase('kl_em_bb_code_help_audio_title')|preEscaped }}"
			  arg-desc="{{ phrase('kl_em_bb_code_help_audio_desc')|preEscaped }}"
			  arg-example="[AUDIO]{{ link('canonical:styles/editor-manager') }}/missing-audio.mp3[/AUDIO]"
			  arg-anchor="audio" />
</xf:if>

<xf:if is="$enabled_bb_codes.media">
	<li class="bbCodeHelpItem block-row block-row--separated">
		<span class="u-anchorTarget" id="media"></span>
		<h3 class="block-textHeader">{{ phrase('bb_code_help_media_title') }}</h3>
		<div>
			{{ phrase('bb_code_help_media_desc') }}<br />
			{{ phrase('approved_sites:') }} {{ media_sites() }}
		</div>
		<div class="bbCodeDemoBlock">
			<dl class="bbCodeDemoBlock-item">
				<dt>{{ phrase('example:') }}</dt>
				<dd>[MEDIA=youtube]oHg5SJYRHA0[/MEDIA]</dd>
			</dl>
			<dl class="bbCodeDemoBlock-item">
				<dt>{{ phrase('output:') }}</dt>
				<dd><i>{{ phrase('embedded_youtube_player_would_appear_here') }}</i></dd>
			</dl>
		</div>
	</li>
</xf:if>

<xf:if is="$enabled_bb_codes.list">
	<xf:macro name="row_output"
			  arg-title="{{ phrase('bb_code_help_list_title')|preEscaped }}"
			  arg-desc="{{ phrase('bb_code_help_list_desc')|preEscaped }}"
			  arg-example="{{ phrase('bb_code_help_list_example')|preEscaped }}"
			  arg-anchor="list" />
</xf:if>

<xf:if is="$enabled_bb_codes.align">
	<xf:macro name="row_output"
			  arg-title="{{ phrase('kl_em_bb_code_help_align_title')|preEscaped }}"
			  arg-desc="{{ phrase('bb_code_help_align_desc')|preEscaped }}"
			  arg-example="{{ phrase('kl_em_bb_code_help_align_example')|preEscaped }}"
			  arg-anchor="align" />
</xf:if>

<xf:if is="$enabled_bb_codes.quote">
	<xf:macro name="row_output"
			  arg-title="{{ phrase('bb_code_help_quote_title')|preEscaped }}"
			  arg-desc="{{ phrase('bb_code_help_quote_desc')|preEscaped }}"
			  arg-example="{{ phrase('bb_code_help_quote_example')|preEscaped }}"
			  arg-anchor="quote" />
</xf:if>

<xf:if is="$enabled_bb_codes.spoiler">
	<xf:macro name="row_output"
			  arg-title="{{ phrase('bb_code_help_spoiler_title')|preEscaped }}"
			  arg-desc="{{ phrase('bb_code_help_spoiler_desc')|preEscaped }}"
			  arg-example="{{ phrase('bb_code_help_spoiler_example')|preEscaped }}"
			  arg-anchor="spoiler" />
</xf:if>

<xf:if is="$enabled_bb_codes.ispoiler">
	<xf:macro name="row_output"
			  arg-title="{{ phrase('kl_em_bb_code_help_ispoiler_title')|preEscaped }}"
			  arg-desc="{{ phrase('bb_code_help_spoiler_desc')|preEscaped }}"
			  arg-example="{{ phrase('kl_em_bb_code_help_ispoiler_example')|preEscaped }}"
			  arg-anchor="ispoiler" />
</xf:if>

<xf:if is="$enabled_bb_codes.code">
	<xf:macro name="row_output"
			  arg-title="{{ phrase('bb_code_help_code_title')|preEscaped }}"
			  arg-desc="{{ phrase('bb_code_help_code_desc')|preEscaped }}"
			  arg-example="{{ phrase('bb_code_help_code_example')|preEscaped }}"
			  arg-anchor="code" />
</xf:if>

<xf:if is="$enabled_bb_codes.icode">
	<xf:macro name="row_output"
			  arg-title="{{ phrase('bb_code_help_icode_title')|preEscaped }}"
			  arg-desc="{{ phrase('bb_code_help_icode_desc')|preEscaped }}"
			  arg-example="{{ phrase('bb_code_help_icode_example')|preEscaped }}"
			  arg-anchor="icode" />
</xf:if>

<xf:if is="$enabled_bb_codes.table">
	<xf:macro name="row_output"
			  arg-title="{{ phrase('kl_em_bb_code_help_table_title')|preEscaped }}"
			  arg-desc="{{ phrase('kl_em_bb_code_help_table_desc')|preEscaped }}"
			  arg-example="{{ phrase('kl_em_bb_code_help_table_example')|preEscaped }}"
			  arg-anchor="table" />

	<xf:macro name="row_output"
			  arg-title="{{ phrase('kl_em_bb_code_help_table_advanced_title')|preEscaped }}"
			  arg-desc="{{ phrase('kl_em_bb_code_help_table_advanced_desc')|preEscaped }}"
			  arg-example="{{ phrase('kl_em_bb_code_help_table_advanced_example')|preEscaped }}"
			  arg-anchor="table" />
</xf:if>

<xf:if is="$enabled_bb_codes.list">
	<xf:macro name="row_output"
			  arg-title="{{ phrase('bb_code_help_indent_title')|preEscaped }}"
			  arg-desc="{{ phrase('bb_code_help_indent_desc')|preEscaped }}"
			  arg-example="{{ phrase('bb_code_help_indent_example')|preEscaped }}"
			  arg-anchor="indent" />
</xf:if>

<xf:macro name="row_output"
		  arg-title="{{ phrase('bb_code_help_plain_title')|preEscaped }}"
		  arg-desc="{{ phrase('bb_code_help_plain_desc')|preEscaped }}"
		  arg-example="{{ phrase('bb_code_help_plain_example')|preEscaped }}"
		  arg-anchor="plain" />

<li class="bbCodeHelpItem block-row block-row--separated">
	<span class="u-anchorTarget" id="attach"></span>
	<h3 class="block-textHeader">{{ phrase('bb_code_help_attach_title') }}</h3>
	<div>{{ phrase('bb_code_help_attach_desc') }}</div>
	<div class="bbCodeDemoBlock">
		<dl class="bbCodeDemoBlock-item">
			<dt>{{ phrase('example:') }}</dt>
			<dd>
				{{ phrase('thumbnail:') }} [ATTACH]123[/ATTACH]<br />
				{{ phrase('full_size:') }} [ATTACH=full]123[/ATTACH]
			</dd>
		</dl>
		<dl class="bbCodeDemoBlock-item">
			<dt>{{ phrase('output:') }}</dt>
			<dd><i>{{ phrase('contents_of_attachments_would_appear_here') }}</i></dd>
		</dl>
	</div>
</li>

<xf:if is="$enabled_bb_codes.hide">
	<xf:macro name="row_output"
			  arg-title="{{ phrase('kl_em_bb_code_help_hide_title')|preEscaped }}"
			  arg-desc="{{ phrase('kl_em_bb_code_help_hide_desc', {'hide': $hide})|preEscaped }}"
			  arg-example="{{ phrase('kl_em_bb_code_help_hide_example')|preEscaped }}"
			  arg-anchor="indent" />
</xf:if>

<xf:foreach loop="$bbCodes" value="$bbCode" if="$bbCode.example is not empty">
	<li class="bbCodeHelpItem block-row block-row--separated">
		<span class="u-anchorTarget" id="{$bbCode.bb_code_id}"></span>
		<h3 class="block-textHeader">
			<xf:if is="$bbCode.has_option == 'no' OR $bbCode.has_option == 'optional'">[{$bbCode.bb_code_id|to_upper}]</xf:if>
			<xf:if is="$bbCode.has_option == 'optional'"><span role="presentation" aria-hidden="true">&middot;</span></xf:if>
			<xf:if is="$bbCode.has_option == 'yes' OR $bbCode.has_option == 'optional'">[{$bbCode.bb_code_id|to_upper}=<span class="block-textHeader-highlight">option</span>]</xf:if>
			- {$bbCode.title}
		</h3>
		<xf:if contentcheck="true">
			<div><xf:contentcheck>{$bbCode.description}</xf:contentcheck></div>
		</xf:if>
		<div class="bbCodeDemoBlock">
			<dl class="bbCodeDemoBlock-item">
				<dt>{{ phrase('example:') }}</dt>
				<dd>{{ $bbCode.example|nl2br }}</dd>
			</dl>
			<dl class="bbCodeDemoBlock-item">
				<dt>{{ phrase('output:') }}</dt>
				<dd>{{ $bbCode.output is not empty ? $bbCode.output : bb_code($bbCode.example, 'help', null) }}</dd>
			</dl>
		</div>
	</li>
</xf:foreach>


<xf:macro name="row_output" arg-title="!" arg-desc="!" arg-example="!" arg-anchor="!">
	<li class="bbCodeHelpItem block-row block-row--separated">
		<span class="u-anchorTarget" id="{$anchor}"></span>
		<h3 class="block-textHeader">{$title}</h3>
		<div>{$desc}</div>
		<xf:macro name="example_output" arg-bbCode="{$example}" />
	</li>
</xf:macro>

<xf:macro name="example_output" arg-bbCode="!">
	<div class="bbCodeDemoBlock">
		<dl class="bbCodeDemoBlock-item">
			<dt>{{ phrase('example:') }}</dt>
			<dd>{{ $bbCode|nl2br }}</dd>
		</dl>
		<dl class="bbCodeDemoBlock-item">
			<dt>{{ phrase('output:') }}</dt>
			<dd>{{ bb_code($bbCode, 'help', null) }}</dd>
		</dl>
	</div>
</xf:macro>