<xf:if is="{{ $em_gfonts }}">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="stylesheet" href="{{ $em_gfonts }}">
</xf:if>

<xf:if is="$em_serverFonts">
	<style>
		<xf:foreach loop="$em_serverFonts" value="$font">
			@font-face {
				font-family: '{$font.filename|raw}';
				src: {$font.src|raw};
				font-weight: normal;
				font-style: normal;
			}
		</xf:foreach>
	</style>
</xf:if>

<script class="js-klEditorTemplates" type="application/json">
	{$em_templates|json|raw}
</script>