<div class="menu-row menu-row--highlighted menu-row--insertedMessage js-specialCharacterInsertedRow">
	<div class="menu-specialCharacterInsertedMessage">
		{{ phrase('inserted:') }} <span class="js-specialCharacterInsert"></span>
	</div>
</div>
<div class="menu-row menu-row--alt menu-row--close">
	<div class="inputGroup">
		<xf:textbox class="js-specialCharacterSearch" placeholder="{{ phrase('search...') }}" data-no-auto-focus="true" />
		<xf:button icon="close" class="button--iconOnly button--plain js-specialCharacterCloser" title="{{ phrase('close') }}"
			data-no-auto-focus="true" data-menu-closer="true">
			<span class="u-srOnly">{{ phrase('close') }}</span>
		</xf:button>
	</div>
</div>
<div class="menu-scroller js-specialCharacterFullList">
	<h3 class="menu-header js-recentHeader {{ !$recent ? 'is-hidden' : '' }}">{{ phrase('recently_used') }}</h3>
	<div class="menu-row js-recentBlock {{ !$recent ? 'is-hidden' : '' }}">
		<ul class="specialCharacterList js-recentList">
			<xf:foreach loop="$recent" value="$character">
				<li><a class="js-specialCharacter" title="{$character.title}" data-id="{$character.character_id}" data-shortname="{$character.title}">
					{$character.code|raw}
				</a></li>
			</xf:foreach>
		</ul>
	</div>
	<xf:foreach loop="$categories"
		key="$categoryId"
		value="$category">
		<xf:if contentcheck="true">
			<h3 class="menu-header">{$category.title}</h3>
			<div class="menu-row">
				<ul class="specialCharacterList js-specialCharacterList">
					<xf:contentcheck>
						<xf:foreach loop="{$groupedCharacters.{$categoryId}}" value="{$character}">
							<li><a class="js-specialCharacter" title="{$character.title}" data-id="{$character.character_id}" data-shortname="{$character.title}">{$character.code|raw}</a></li>
						</xf:foreach>
					</xf:contentcheck>
				</ul>
			</div>
		</xf:if>
	</xf:foreach>
</div>
<div class="menu-scroller js-specialCharacterSearchResults" style="display: none;"></div>