<xf:if is="$template.isInsert()">
	<xf:title>{{ phrase('kl_em_add_template') }}</xf:title>
<xf:else />
	<xf:title>{{ phrase('kl_em_edit_template:') }} {$template.title}</xf:title>
</xf:if>

<xf:pageaction if="$template.isUpdate()">
	<xf:button href="{{ link('account/kl-editor-templates/delete', $template) }}" icon="delete" overlay="true" />
</xf:pageaction>

<xf:form action="{{ link('account/kl-editor-templates/save', $template) }}" ajax="true" class="block">
	<div class="block-container">

		<div class="block-body">
			
			<xf:textboxrow maxlength="{{ max_length($template, 'title') }}"
				name="title"
				required="required"
				value="{{ $template.exists() ? $template.title : '' }}"
				label="{{ phrase('title') }}" />
					
			<xf:checkboxrow>
				<xf:option name="active" value="1" selected="{{ $template.template_id ? $template.active : 1 }}">
					{{ phrase('kl_em_active') }}
				</xf:option>
			</xf:checkboxrow>
			
			<xf:editorrow name="content" value="{$template.content}"
				rowtype="fullWidth noLabel"
				data-min-height="100"
				maxlength="{$xf.options.messageMaxLength}"
				label="{{ phrase('message') }}" />
			
			<xf:submitrow sticky="true" icon="save" />
		</div>
	</div>
</xf:form>