<xf:title>{{ phrase('kl_em_custom_emotes') }}</xf:title>

<xf:wrap template="account_wrapper" />

<xf:pageaction>
	<div class="buttonGroup">
		<xf:if is="$canCreateEmotes">
			<xf:button href="{{ link('account/kl-custom-emotes/add') }}" icon="add" overlay="true">{{ phrase('kl_em_add_emote') }}</xf:button>
		</xf:if>
		<xf:if is="$emotes is not empty && $emotes.count() > 1 ">
			<xf:button href="{{ link('account/kl-custom-emotes/sort') }}" icon="sort" overlay="true" />
		</xf:if>
	</div>
</xf:pageaction>

<xf:form action="{{ link('account/kl-custom-emotes/toggle') }}"
		 ajax="true" class="block">

	<div class="block-container">
		<div class="block-body">
			<xf:if is="$emotes is not empty">
				<xf:datalist>
					<xf:foreach loop="$emotes" value="$emote">
						<xf:datarow>
							<xf:cell href="{{ link('account/kl-custom-emotes/edit', $emote) }}" class="dataList-cell--iconic">
								{{ kl_em_custom_emote($emote) }}
							</xf:cell>
							<xf:cell class="dataList-cell--link dataList-cell--main" hash="{$emote.emote_id}"
									 href="{{ link('account/kl-custom-emotes/edit', $emote) }}">
								{$emote.title}
							</xf:cell>
							<xf:cell href="{{ link('account/kl-custom-emotes/edit', $emote) }}">
								<span class="emoteText">{$emote.replacement_code}</span>
							</xf:cell>
							
							<xf:delete href="{{ link('account/kl-custom-emotes/delete', $emote) }}" />
						</xf:datarow>
					</xf:foreach>
				</xf:datalist>
				<xf:else />
				<div class="block-row">
					{{ phrase('kl_em_no_custom_emotes_yet') }}
				</div>
			</xf:if>
		</div>
		<div class="block-footer">
			<span class="block-footer-counter">{{ display_totals($emotes) }}</span>
		</div>
	</div>
</xf:form>

<xf:form action="{{ link('account/kl-custom-emotes/change-prefix') }}"
		 ajax="true" class="block">
	<div class="block-container">
		<div class="block-body">
			<xf:textboxrow label="{{ phrase('kl_em_prefix') }}"
						   required="true" name="prefix"
						   explain="{{ $prefix.canChange() ? phrase('kl_em_custom_prefix_change_explain') : '' }}"
						   disabled="{{ $prefix.canChange() ? '' : 'disabled' }}"
						   value="{$prefix.prefix}"/>
		</div>

		<xf:if is="$prefix.canChange()">
			<xf:submitrow icon="save" />
		</xf:if>
	</div>
</xf:form>