<xf:macro name="hide"
		  arg-visible="{{ false }}"
		  arg-content="!"
		  arg-message="!">
	<xf:css src="bb_code.less" />

	<div class="bbCodeBlock bbCodeBlock--hide bbCodeBlock--{{ $visible ? 'visible' : 'hidden' }}">
		<div class="bbCodeBlock-title">
			<xf:if is="$visible">
				<xf:fa icon="fa-eye" />
				{{ phrase('kl_em_revealed_content') }}
				<xf:else />
				<xf:fa icon="fa-eye-slash" />
				{{ phrase('kl_em_hidden_content') }}
			</xf:if>
		</div>
		<div class="bbCodeBlock-content">
			<div class="bbCodeBlock-expandContent">
				<xf:if is="$visible">
					{$content}
					<xf:else />
					{$message|raw}
				</xf:if>
			</div>
		</div>
	</div>
</xf:macro>