"Insert Table": "{{ phrase('kl_em_table')|escape('js') }}",
"Table Header": "{{ phrase('kl_em_table_header')|escape('js') }}",
"Remove Table": "{{ phrase('kl_em_remove_table')|escape('js') }}",
"Row": "{{ phrase('kl_em_row')|escape('js') }}",
"Column": "{{ phrase('kl_em_column')|escape('js') }}",
"Insert row above": "{{ phrase('kl_em_insert_row_above')|escape('js') }}",
"Insert row below": "{{ phrase('kl_em_insert_row_below')|escape('js') }}",
"Delete row": "{{ phrase('kl_em_delete_row')|escape('js') }}",
"Insert column before": "{{ phrase('kl_em_insert_column_before')|escape('js') }}",
"Insert column after": "{{ phrase('kl_em_insert_column_after')|escape('js') }}",
"Delete column": "{{ phrase('kl_em_delete_column')|escape('js') }}",
"Vertical Align":"{{ phrase('kl_em_vertical_align')|escape('js') }}",
"Top":"{{ phrase('kl_em_top')|escape('js') }}",
"Middle": "{{ phrase('kl_em_middle')|escape('js') }}",
"Bottom": "{{ phrase('kl_em_bottom')|escape('js') }}",
"Horizontal Align": "{{ phrase('kl_em_horizontal_align')|escape('js') }}",

"Inline Spoiler": "{{ phrase('kl_em_inline_spoiler')|escape('js') }}",

"Align Justify": "{{ phrase('kl_em_align_justify')|escape('js') }}",

"Hide Reply": "{{ phrase('kl_em_hide_reply')|escape('js') }}",
"Hide Posts": "{{ phrase('kl_em_hide_posts')|escape('js') }}",
"Hide Thanks": "{{ phrase('kl_em_hide_thanks')|escape('js') }}",
"Hide Reply Thanks": "{{ phrase('kl_em_hide_reply_thanks')|escape('js') }}",
"Hide": "{{ phrase('kl_em_hide')|escape('js') }}",

"HTML": "{{ phrase('html')|escape('js') }}",

"Google Font": "{{ phrase('kl_em_google_font')|escape('js') }}",
"unlink all links": "{{ phrase('kl_em_unlink_all_links')|escape('js') }}",